<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         bootstrap="tests/bootstrap.php"
>
    <testsuites>
        <testsuite name="C4 Core Test Suite">
            <directory>./tests/C4/</directory>
        </testsuite>
        <testsuite name="C4 Modules Test Suite">
            <directory>./src/C4/Modules/*/tests/</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-html" target="_reports/coverage" charset="UTF-8" yui="true" highlight="true" />
        <log type="testdox-text" target="_reports/testdox/executed.txt"/>
    </logging>

</phpunit>
